// Fonts:
    // font-family: 'Noto Sans JP', sans-serif;
    // font-family: 'RocknRoll One', sans-serif;
    // font-family: 'Shippori Mincho', serif;

//Preloader 
    #overlayer {
        width:100%;
        height:100%;  
        position:absolute;
        z-index:1;
        background:rgb(105, 83, 231);
    }
    .loader {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index:3;
        border: 4px solid #Fff;
        top: calc(50% - 15px);
        right: calc(50% - 15px);
        animation: loader 2s infinite ease;
    }
    
    .loader-inner {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        background-color: #fff;
        animation: loader-inner 2s infinite ease-in;
    }
    
    @keyframes loader {
        0% {
        transform: rotate(0deg);
        }
        
        25% {
        transform: rotate(180deg);
        }
        
        50% {
        transform: rotate(180deg);
        }
        
        75% {
        transform: rotate(360deg);
        }
        
        100% {
        transform: rotate(360deg);
        }
    }
    
    @keyframes loader-inner {
        0% {
        height: 0%;
        }
        
        25% {
        height: 0%;
        }
        
        50% {
        height: 100%;
        }
        
        75% {
        height: 100%;
        }
        
        100% {
        height: 0%;
        }
    }
    @keyframes rotate {
        0% {
        transform: rotate(0deg);
        }
        100% {
        transform: rotate(90deg);
        }
    }
    @keyframes unrotate {
        0% {
        transform: rotate(90deg);
        }
        100% {
        transform: rotate(0deg);
        }
    }


// Body
    body {
        overflow: hidden;
    }

    //Scroll bar
    /* Hide scrollbar for Chrome, Safari and Opera */
    .tbody::-webkit-scrollbar {
        display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    .tbody {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

// Header
    #header{
        background-color: rgb(113, 56, 219);
        height: 15vh;
    }
    #title {
        font-family: 'Shippori Mincho', serif;
        color: black !important;
        font-size: 3.5vh;
        padding: 5px;
        border-bottom: dotted black;
        margin: 0px;
    }
    #title a {
        text-decoration: none;
        color: black;
    }

    .tableTitle {
        font-family: 'Noto Sans JP', serif;
        color: black;
        font-size: 2vh;
        padding: 0px;
        cursor: pointer;
    }
    .currentTitle {
        font-size: 2.5vh;
        padding: 5px;
        margin: 0px;
    }
    #tableSelect { 
        width: 75%; 
        text-align-last:center; 
    }
    .tableTitle:hover {
        opacity: 1;
        animation-name: underline;
        animation-duration: 2s;
        animation-fill-mode: forwards; 
    }
    .icon {
        width: 50px;
        padding-right: 10px;
        padding-left: 10px;
    }

    #arrow-down {
        width: 40px;
        transform: rotate(90deg);
    }
    #arrow-down:hover {
        opacity: 0.7;
    }

    #tables {
        display: none;
        position: absolute;
        top: 15vh;
        width: 100%;
        height: 6vh;
        background-color: rgb(79, 55, 214);
        z-index: 4;
    }


//Animation
    @keyframes underline {
        from {text-decoration: underline rgba($color: #000000, $alpha: 0);}
        to {text-decoration: underline rgba($color: #000000, $alpha: 1.0);}
    }

//Alignment
    .justify {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

// Options Bar
    // Search Parameters
        #optionsBarWrapper{
            width: 100%;
            height: 25vh;
        }
        #optionsBarInput{
            margin: auto;
        }

        #columnTitle, #sortBy {
            text-align: center;
            width: 100%;
            font-family: 'Noto Sans JP', sans-serif;
            height: 30px;
            padding: 0;
        }

        #searchTextWrapper {
            padding-right: 0px;
        }
        #searchText{
            text-align: center;
            height: 30px;
            padding: 0px;
            width: 100%;
            font-family: 'Noto Sans JP', sans-serif
        }

    // Buttons
        .navButton, #returnButton, .saveButton, #employeesOption, .editButton, .addButton, .updateButton, .deleteButton, .yesButton, #noButton, #signInButton, #returnButton2{
            height: 30px;
            padding: 2px 8px 2px 8px;
            align-items: center;
            background-color: rgb(100, 51, 216);
            border-color: black;
            font-family: 'Noto Sans JP', sans-serif;
            width: 76px;
        }
        .form-group {
            padding: 5px;
        }
        #submitButtonWrapper {
            padding-left: 0px;
        }
        .addButton, .yesButton {
            background-color: green;
        }
        .updateButton {
            background-color: rgb(0, 153, 255);
        }
        .deleteButton, #noButton {
            background-color: red;
        }
        .closeButton {
            height: 5vh;
            float: right;
            clear: both;
        }
        //Plus and Minus Buttons
            .editCol {
                width:5%;
                cursor: pointer;
            }
            .plusButton {
                width: 30px;
                height: 30px;
                background-color: green;
                border-radius: 5px;
            }
            .plusButton:hover {
                opacity: 0.5;
            }
            .minusButton {
                width: 30px;
                height: 30px;
                background-color: red;
                border-radius: 5px;
            }
            .minusButton:hover {
                opacity: 0.5;
            }

    // Edit slider
        #editSlider{
            font-family: 'Noto Sans JP', sans-serif;
            color: black;
            padding: 0px;
        }



// Slider Switch
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 54px;
        height: 28px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: rgb(131, 74, 221);
        color: white;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px rgb(73, 34, 214);
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 34px;
        padding-left: 6px;
    }
    .slider.round:before {
        border-radius: 50%;
    }

// Table
    table tbody, table thead {
        display: block;
        cursor: pointer;
    }

    // .editCol{
    //     display: none;
    // }

    #locationTable tbody, #locationTable thead, #departmentTable tbody, #departmentTable thead {
        cursor: default;
    }

    th {
        width: 100vw;
        font-family: 'Noto Sans JP', sans-serif;
    }
    .thead-dark th:hover {
        background-color: #454d55;
    }
    td{
        width: 100vw;
        font-family: 'Noto Sans JP', sans-serif;
    }

    .idClass {
        width: 90px;
    }
    table tbody {
        overflow-y: auto;
        height: calc(50vh - 50px);
        margin-top: 5px;
    }

    #directoryTable, #locationTable {
        margin: 0;
        table-layout:fixed;
        width: 100%;
        word-break: break-all;
    }
    #locationTable, #departmentTable {
        display: none;
    }

    .jobClass, .departmentClass, .locationClass, .emailClass {
        display: none;
    }


// Number of Entries
    #entriesNum{
        background-color: rgb(111, 73, 216);
        height: 10vh;
        display: flex;
    }
    #entriesNum p{
        margin: auto;
        font-family: 'Noto Sans JP', sans-serif;
        color: black;
    }


// Display Profile
    .hide{
        display: none;
    }
    #displayProfile {
        height: 58vh;
        padding: 0;
    }
    #profileCard {
        margin: auto;
        width: 98%;
        height: 100%;
        padding: 0px;
    }
    .card {
        font-size: 1em;
    }
    #cardTitle {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    #returnButtonWrapper {
        display: inline;
        align-items: center;
    }

    #profileTitle {
        width: 75vw;
    }
    #profileTable {
        width: 100%;
        padding-top: 5px;
    }
    #profileTitleWrapper {
        height: 70px;
        border-bottom: solid black;
    }

    //UpdateProfile:
        #firstNameUpdate, #lastNameUpdate, #jobTitleUpdate, #departmentUpdate, #locationUpdate, #emailUpdate {
            width: 100%;
        }

    //Display Warning:
        .popUpDisplay {
            position: absolute;
            width: 300px;
            height: fit-content;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            background-color: white;
            border: solid black;
            border-width: 8px;
            border-radius: 10px;
            z-index: 2;
            margin: auto;
            text-align: center;
            padding: 2%;
        }

    //Sign In Display
        #signInDisplay div {
            height: 20%;
            clear: both;
            align-items: center;
            justify-content: center;
        }
        #password {
            width: 60%;
            height: 30px;
        }
        #errorMessage {
            color: red;
        }
        .message {
            clear: both;
        }


    //Edit Options
        .editOption {
            height: 12vh;
            border: solid white;
            border-radius: 10px;
        }
        #editOptionsTbody {
            height: fit-content;
        }
        .editOptionsTd {
            text-align: center;
            padding: 0px !important;
        }
        .editRow {
            color:red
        }

    //Mobile More Button
        // #moreButtonWrapper {
        //     position: absolute;
        //     top: 41vh;
        //     right: 5px;
        // }
        #moreButton {
            transform: rotate(-90deg);
            cursor: pointer;
            width: 34px;
            height: 34px;
            border-radius: 5px;
            padding: 0px;
        }
        #moreButton:hover{
            opacity: 0.7;
        }
    
//376px
    @media(min-width: 376px) { 
        #title {
            font-size: 4vh;
        }
        .tableTitle {
            font-size: 2.5vh;
        }
        .currentTitle {
            font-size: 3vh;
        }
    }

//426px
    @media(min-width: 426px) { 
        #title {
            font-size: 5vh;
        }
        .tableTitle {
            font-size: 3vh;
        }
        .currentTitle {
            font-size: 4vh;
        }
    }

//768px
    @media(min-width: 768px) { 
        //Title
        #title {
            border-bottom: none;
        }

    }    


//992px
    @media(min-width: 992px) { 
    //Heights
        //Options Bar
            #optionsBarWrapper {
                height: 10vh;
            }
        //Table Select
        #currentTitleWrapper {
            height: 56px;
        }


        //Tables
            table tbody {
                overflow-y: scroll;
                height: calc(65vh - 50px);
                margin-top: 5px;
            }



        //Directory Table
            .jobClass, .departmentClass, .locationClass, .emailClass {
                display:table-cell;
            }
            // th, td {
            //     width: 50vw;
            // }

        //Buttons
            .addButton, .deleteButton {
                margin-left: 10px;
                margin-right: 10px;
            }
            //More Button
                #moreButtonWrapper {
                    display: none;
                }


        //Profile
            #cardBody, #cardBody h5 {
                font-size: 1.25rem;
            }
            #profileCard {
                width: 75%;
            }
            .card {
                font-size: 1.25em;
            }
            #profileTable {
                width: 100%;
            }


        .form-group {
            padding: 10px;
        }

        //Edit Options
            .editOptionsTd {
                text-align: center;
                padding: 20px 0px 0px 0px !important;
            }
    }